@import '../../styles/common.scss';

.banner {
    padding: 210px 0 250px;
    &Content {
        @extend %justifyBetween-alignCenter;
    }
    &Text {
        flex-basis: 57%;
        flex-shrink: 0;
    }
    h1 {
        @extend %typeface-bold-70;
        color: $color-black-0;
        margin-bottom: 30px;
    }
    p {
        @extend %typeface-medium-28;
        color: $color-black-0;
    }
    .bannerImage {
        flex-basis: 43%;
    }
    .imageWrapper {
        max-width: 498px;
        height: 343px;
        img {
            object-fit: contain;
        }
    }
}

.about {
    background-color: #ebfff4;
    padding: 72px 0;
    &Heading {
        text-align: center;
        width: 533px;
        width: 100%;
        margin: auto;
        margin-bottom: 64px;
        h2 {
            margin-bottom: 25px;
        }
        p {
            @extend %typeface-regular-16;
            color: #1f1f1f;
        }
    }
    &Content {
        @extend %justifyBetween-alignCenter;
        gap: 34px;
    }
    &Image {
        flex-basis: 50%;
    }
    &Video {
        flex-basis: 50%;
        text-align: center;
    }
    iframe {
        vertical-align: top;
    }
    .imageWrapper {
        width: 400px;
        height: 400px;
        margin: auto;
    }
}

.benefits {
    padding: 85px 0 92px;
    .container {
        max-width: 960px;
    }
    &Heading {
        h2 {
            color: $color-black-0;
            text-align: center;
        }
    }
    &Content {
        @extend %justifyCenter-alignCenter;
    }
    &Image {
        flex-basis: 50%;
    }
    .imageWrapper {
        width: 425px;
        height: 590px;
        img {
            object-fit: contain;
        }
    }
    &Text {
        flex-basis: 50%;
    }
    &List {
        @extend %alignCenter;
        margin-bottom: 32px;
    }
    &Icon {
        img {
            max-width: 70px;
        }
    }
    &Details {
        margin-left: 20px;
        p {
            @extend %typeface-regular-16;
            color: $color-black-1;
        }
    }
    h3 {
        @extend %typeface-semibold-16;
    }
}

.product {
    padding: 60px 0 92px;
    .container {
        max-width: 960px;
    }
    &Content {
        @extend %justifyBetween-alignCenter;
    }
    h2 {
        @extend %typeface-bold-40;
        color: $color-black-0;
        margin-bottom: 20px;
        & + p {
            @extend %typeface-medium-17;
            color: $color-black-0;
            margin-bottom: 25px;
        }
    }
    button {
        margin-bottom: 10px;
        & + p {
            @extend %typeface-regular-14;
            color: $color-black-3;
        }    
    }
    &Text {
        flex-basis: 41%;
    }
    &Image {
        flex-basis: 59%;
    }    
    .imageWrapper {
        margin-left: auto;
        max-width: 534px;
        height: 534px;
        img {
            object-fit: contain;
        }
    }
}

.testimonial {
    padding: 80px 0;
    background-color: #ebfff4;
    .imageWrapper {
        width: 235px;
        height: 235px;
        margin: auto;
        border-radius: 50%;
        margin-bottom: 30px;
        img {
            border-radius: 50%;
        }
    }
    h2 {
        margin-bottom: 40px;
        text-align: center;
    }
    h3 {
        @extend %typeface-medium-20;
        color: $color-black-0;
        margin-bottom: 10px;        
    }
    p {
        @extend %typeface-regular-14;
        color: $color-black-0;
    }
    
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-wrapper {
        margin-bottom: 48px;
    }
    
    .swiper-pagination-bullet {
        background: $color-green-0;
        border-radius: 8px;
        height: 4px;
        vertical-align: bottom;
        width: 30px;
    }

    .swiper-pagination-bullet-active {
        width: 74px;
    }

}

.contact {
    padding: 85px 0;
    h2 {
        text-align: center;
        margin-bottom: 40px;
    }
    h3 {
        @extend %typeface-light-28;
        span {
            color: #81D200;
        }
    }
    p {
        @extend %typeface-light-17;
        margin-bottom: 35px;
    }
    &Content {
        @extend %justifyCenter-alignCenter;
    }
    &Form {
        text-align: center;
        flex-basis: 50%;
    }
    form {
        max-width: 490px;
        padding: 45px 55px;
        background-color: $color-grey-1;
    }
    .inputWrapper {
        margin-bottom: 18px;
    }
    input {
        width: 100%;
        outline: none;
        border: 0;
        padding: 20px;
        text-align: center;
        @extend %typeface-regular-16;
        &::placeholder {
            text-align: center;
            color: $color-grey-2;
            @extend %typeface-regular-16;
        }            
    }
    &Image {
        flex-basis: 50%;
    }
    .imageWrapper {
        margin-left: auto;
        max-width: 534px;
        height: 534px;
        img {
            object-fit: contain;
        }
    }
    button {
        border: 0;
        background-color: #81D200;
        color: $color-white-0;
        @extend %typeface-semibold-18;
        padding: 20px;
        width: 100%;
    }
}

@media (max-width: 991px) {
    .banner {
        .imageWrapper {
            width: 100%;
            height: auto;
        }
    }
    .about {
        .imageWrapper {
            width: 100%;
            height: auto;
        }
    }
    .product {
        .imageWrapper {
            height: auto;
        }
    }
}

@media (max-width: 768px) {
    .banner {
        padding: 80px 0 60px;
        &Content {
            flex-direction: column-reverse;
        }
        &Text {
        }
        h1 {
            font-size: 34px;
        }
        p {
            font-size: 17px;
        }
        .bannerImage {
            margin-bottom: 30px;
        }             
    }
    .about {
        &Content {
            flex-direction: column;
            justify-content: center;
            gap: 0px;
        }
        &Image {
            flex-basis: 100%;
        }
        &Video {
            flex-basis: 100%;
        }         
    }
    .benefits {
        &Content {
            flex-direction: column;
        }
    }
    .product {
        &Content {
            flex-direction: column-reverse;
        }
        &Image {
            margin-bottom: 35px;
        }
        &Text {
            text-align: center;
        }
        h2 {
            font-size: 34px;
            line-height: 1.3em;
        }
        button {
            margin-bottom: 15px;
        }
    }
    .contact {
        &Content {
            flex-direction: column-reverse;
        }
        .imageWrapper {
            margin-bottom: 35px;
            height: auto;
        }
        input {
            padding: 15px;
        }
        form {
            padding: 25px 20px;
        }
        button {
            padding: 12px;
        }
    }
}

@media (max-width: 575px) {
    .banner {
        .imageWrapper {
            width: 100%;
            height: auto;
        }   
    }
    .about {
        iframe {
            width: 100%;
        }
        .imageWrapper {
            width: 100%;
            height: auto;
        }  
    }
    .benefits {
        &Image {
            margin-bottom: 32px;
        }
        &Details {
            margin-left: 0;
        }
        .imageWrapper {
            width: 100%;
            height: auto;
        }
        h2 {
            margin-bottom: 30px;
        }
    }
}